@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

/*
    Edit Me If needed
*/
@import "https://fonts.googleapis.com/css?family=Roboto+Mono:700";

@font-face {
    font-family: 'Segment7Standard';
    src: url('Segment7Standard.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto Mono', monospace;
}

body {
    min-height: 100vh;
    padding: 1px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #bbbbbb url('../img/bliss.jpg') no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.window {
    background: grey;
	position: relative;
    width: 400px;
    /*display:flex;*/
    /*justify-content: center;*/
    /*height: 320px;*/
    /*display: flex;*/
    border-radius: 10px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: -1px -5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -11px -5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -9px -4px 15px 0px rgba(0,0,0,0.75);
}

.window:after {
    position: absolute;
    content: '';
    right: -5px;
    bottom: -5px;
    width: 10px;
    height: 10px;
    cursor: nwse-resize;
}

.title-bar {
    border-radius: 10px 5px 0 0;
    padding: 2px 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: .9rem;
    background: -webkit-linear-gradient(top, gray 0%, #70b0e0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, gray 0%, #70b0e0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.title-bar .btn {
    align-self: flex-end;
    justify-self: right;
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid grey;
}

.top .counter {
    font-family: 'Segment7Standard';
    background: black;
    color: red;
    padding: 2px 5px;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
}

.modal-content {
    background-color: white;
    margin: 1% auto;
    padding: 20px;
    box-shadow: 1px 1px 5px 0px #888;
    width: 40%;
}

.modal-content .field {
    border: 1px dashed grey;
}

.grid {
    order: 3;
    user-select: none;
    margin: 20px;
    font-size: 24px;
    display: flex;
    flex-flow: row wrap;
}

.grid span {
    display: block;
    position: relative;
    /*width: 1em;*/
    height: 1em;
    background: #c0c0c0;
    box-sizing: border-box;
    border: solid #808080;
    border-width: 0 1px 1px 0;
    flex: 0 0 11.11111%;
    overflow: hidden;
    cursor: pointer;
}

.grid span:before {
    font-size: .9rem;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.grid span:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #c0c0c0;
    border: 2px outset #ececec;
    font-size: .75rem;
    text-align: center;
}

.grid span.flag:after, .grid span[data-flag='true']:after  {
	content: '🏁';
}

.grid span.active:after {
    background: #bdbdbd;
    border: solid #999;
    border-width: 2px 0 0 2px;
}

.grid span.revealed:after {
    display: none;
}

.grid span.revealed[data-value='1']:before {
    content: '1';
    color: #0000ff;
}

.grid span.revealed[data-value='2']:before {
    content: '2';
    color: #008100;
}

.grid span.revealed[data-value='3']:before {
    content: '3';
    color: #ff1300;
}

.grid span.revealed[data-value='4']:before {
    content: '4';
    color: #000083;
}

.grid span.revealed[data-value='5']:before {
    content: '5';
    color: #810500;
}

.grid span.revealed[data-value='6']:before {
    content: '6';
    color: #2a9494;
}

.grid span.revealed[data-value='7']:before {
    content: '7';
    color: #000000;
}

.grid span.revealed[data-value='8']:before {
    content: '8';
    color: #808080;
}

.grid span.revealed[data-value='mine']:before {
    content: '💣';
    font-size: .75rem;
}

.smile:after {
    content: '😶';
    display: inline-block;
}

.smile[data-value='normal']:after {
    content: '🤔';
}

.smile[data-value='hover']:after {
    content: '😮';
}

.smile[data-value='ok']:after {
    content: '😌';
}

.smile[data-value='win']:after {
    content: '😁';
}

.cell-normal{
    background-color: #88bfe8;
    border: 1px solid black;
    width: 10px;
    height: 10px;
    display: inline-block;
}

.content-placeholder{
    display:flex;
    justify-content: center;
    flex-direction: column;
    height: 40vh;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 10%;
}

.col{
    width: 10%;
    height: 100%;
	
    background-color: #332F2C;
    border: 3px solid black;
    font-size: 20px;
    font-weight: bold;
    font-family: "Courier 10 Pitch";
    -webkit-box-shadow: 0 0 2px 2px #7fa2cc inset;

}



.col-clicked{
    background-color: darkgray;
    -webkit-box-shadow: 0 0 0px 0px red inset;
 	 transition: all 0.8s;
}


body .canvas, html .canvas {
  width: 600px;
  height: 400px;
  background-color: white: ;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 20px 1px #bbb;
}
body .foot-wrapper, html .foot-wrapper {
  color: #BFBFBF;
  float: left;
  poisition: absoulte;
}
body .foot-wrapper .footer, html .foot-wrapper .footer {
  margin-top: 100vh;
  margin-left: 20px;
}

.buttons {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: white;
  width: 200px;
  height: 100px;
  background: #F2385A;
  position: relative;
  margin: 30px;
  top: 100px;
  padding: 16px;
  font-size: 50px;
  border-radius: 10px;
  box-shadow: 0px 15px 0px 0px #f02046, 0px 0px 20px 0px #bbb;
  transition: all 0.2s;
}

.allert {
	position:absolute;
	border-radius: 10px;
	border: 3px solid black;
	top: 40%;
	font-size:34px;
	font-weight:bold;
	text-align:center;
	background-color:grey;
	background: -webkit-linear-gradient(top, 0%, #70b0e0 100%); /* Chrome10-25,Safari5.1-6 */
	width:500px;
	height:120px
	}
	
.newgame_btn {
	width:100px;
	height:30px;
	margin-top:6%;
	font-size:16px;
	}
	
